<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Contraseña de [<b>{{account.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="success">
                <strong>Contraseña cambiada exitosamente!</strong>
            </div>
            <div class="alert alert-danger" ng-show="error" >
                <strong>Ha ocurrido un error!</strong> La contraseña no pudo ser cambiada
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch">
                Contraseña equivocada!
            </div>

            <form name="form" role="form" novalidate ng-submit="changePassword()" show-validation>

                <div class="form-group">
                    <label for="password">Nueva Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Nueva Contraseña"
                           ng-model="password" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            Contraseña requerida
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            La contraseña require minimo 5 caracteres
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            La contraseña require maximo 50 caracteres
                        </p>
                    </div>
                    <password-strength-bar password-to-check="password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirmación nueva contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Escriba la nueva contraseña"
                           ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                           Confirmación nueva contraseña requerida
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            La confirmación de la nueva contraseña require minimo 5 caracteres
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            La confirmación de la nueva contraseña require maximo 50 caracteres
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>
