<!-- <div> -->

<!--     <h2>Adoptions</h2> -->
<!--     <jh-alert></jh-alert> -->
<!--     <div class="container"> -->
<!--         <div class="row"> -->
<!--             <div class="col-md-4"> -->
<!--                 <button class="btn btn-primary" ui-sref="adoption.new"> -->
<!--                     <span class="glyphicon glyphicon-flash"></span> <span>Create a new Adoption</span> -->
<!--                 </button> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->

    <div class="modal fade" id="deleteAdoptionConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(adoption.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirmación para eliminar </h4>
                    </div>
                    <div class="modal-body">
                        <p> bla bla bla ¿Esta seguro que desea eliminar esta mascota para adopción?</p>
                        <p> {{adoption.id}} </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!--     <div class="table-responsive"> -->
<!--         <table class="table table-striped"> -->
<!--             <thead> -->
<!--                 <tr> -->
<!--                     <th>ID</th> -->
<!--                     <th>Name</th> -->
<!--                     <th>Species</th> -->
<!--                     <th>Age</th> -->
<!--                     <th>Gender</th> -->
<!--                     <th>Size</th> -->
<!--                     <th>Description</th> -->
<!--                     <th>have</th> -->
<!--                     <th></th> -->
<!--                 </tr> -->
<!--             </thead> -->
<!--             <tbody> -->
<!--                 <tr ng-repeat="adoption in adoptions"> -->
<!--                     <td><a ui-sref="adoption.detail({id:adoption.id})">{{adoption.id}}</a></td> -->
<!--                     <td>{{adoption.name}}</td> -->
<!--                     <td>{{adoption.species}}</td> -->
<!--                     <td>{{adoption.age}}</td> -->
<!--                     <td>{{adoption.gender}}</td> -->
<!--                     <td>{{adoption.size}}</td> -->
<!--                     <td>{{adoption.description}}</td> -->
<!--                     <td> -->
<!--                         {{adoption.have.id}} -->
<!--                     </td> -->
<!--                     <td> -->
<!--                         <button type="submit" -->
<!--                                 ui-sref="adoption.detail({id:adoption.id})" -->
<!--                                 class="btn btn-info btn-sm"> -->
<!--                             <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span> -->
<!--                         </button> -->
<!--                         <button type="submit" -->
<!--                                 ui-sref="adoption.edit({id:adoption.id})" -->
<!--                                 class="btn btn-primary btn-sm"> -->
<!--                             <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span> -->
<!--                         </button> -->
<!--                         <button type="submit" -->
<!--                                 ng-click="delete(adoption.id)" -->
<!--                                 class="btn btn-danger btn-sm"> -->
<!--                             <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span> -->
<!--                         </button> -->
<!--                     </td> -->
<!--                 </tr> -->
<!--             </tbody> -->
<!--         </table> -->
<!--     </div> -->
<!-- </div> -->

<article>
  <!-- second nav bar with pag's choice -->
 <nav class="navbar2 navbar-default" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

	   <div class="collapse navbar-collapse" id="navbar-collapse2" >
	     <ul class="nav nav-pills">
	      <li role="presentation" class="active"><a ui-sref="#">Adopción</a></li>
	      <li role="presentation" ><a ui-sref="sponsor">Apadrinamiento</a></li>
	      <li role="presentation" ><a ui-sref="lost">Extraviados</a></li>
	     </ul>
	   </div>
   </nav>

  <!-- panel with the form -->
  <div class="panel panel-primary" id="panel">
    <div class="panel-heading">Agrega una nueva mascota</div>
    <div class="panel-body" style=" padding-top:0.34em">
        <div class="media-left media-middle" >
          <a href="#"  style="font-size:10em;">
            <img data-ng-src="{{'data:image/*;base64,' + adoption.image}}" style="max-height: 100px;" ng-if="adoption.image"/>

          </a>

        </div>
        <div class="media-body" style=" padding-top:1.67em">
          <form name="editForm" class="format has-error" id="pet-form">
          	<a ui-sref="adoption.detail({id:adoption.id})" ng-show="false" ng-model="adoption.id"></a>
           	<!--<input type="text" class="form-control" id="id" name="id" ng-model="adoption.id" readonly ng-show="false">-->
           	<div class="divSets">
	            <span style="font-weight: bold;">Nombre:</span>
	            <input id="theName" ng-model="adoption.name" type="text" class="text-box" name="firstname" required>
	            <input id="dog" type="radio" ng-model="adoption.species" name="species" value="dog"  checked> Perro
	            <input id="cat" type="radio" ng-model="adoption.species" name="species" value="cat" style="margin-left:2.64em"> Gato
			</div>

			<div class="divSets">
	             <span style="font-weight: bold;">Edad:</span>
	             <input id="theAge" type="number" ng-model="adoption.age" min="1" max="50" class="text-box" name="age" placeholder="Meses" required >
            </div>

            <div class="divSets">
	             <span style="font-weight: bold;">Genero:</span>
	             <div>
			         <input id="male" type="radio" ng-model="adoption.gender" name="sex" value="m"  checked required> Macho
			         <input id="female" type="radio" ng-model="adoption.gender" name="sex" value="f" style="margin-left:1.93em" > Hembra
           		</div>
            </div>

            <div class="divSets">
	            <span style="font-weight: bold;">Tamaño:</span>
	            <div>
		            <input id="small" type="radio" ng-model="adoption.size" name="size" value="small" checked required> Pequeño
		            <input id="medium" type="radio" ng-model="adoption.size" name="size" value="medium" style="margin-left:1em"> Mediano
		            <input id="large" type="radio" ng-model="adoption.size" name="size" value="large" style="margin-left:1em"> Grande
           		</div>
            </div>

            <div class="divSets">
	            	 <span style="font-weight: bold;">Descripción:</span>
	            	<textarea class="description"  rows="3" cols="50" ng-model="adoption.description" TextMode="MultiLine"  required></textarea>
            </div>

            <div class="divSets" ngf-drop ngf-change="setImage($files, adoption)" ngf-accept="'image/*'">
	            <label for="field_image" style="font-weight: bold;">Foto</label>
	            <div>

	                <div class="help-block clearfix">
	                    <!-- <span class="pull-left">{{byteSize(adoption.image)}}</span> -->
	                    <button ng-click="adoption.image=null"
	                            ng-if="adoption.image"
	                            class="btn btn-default btn-xs pull-right">
	                        <span class="glyphicon glyphicon-remove"></span>
	                    </button>
	                </div>
	                <button type="file" ngf-select class="btn btn-default btn-block"
	                        ngf-change="setImage($files, adoption)" accept="image/*">
	                    Subir imagen
	                </button>
	            </div>
	            <input type="hidden" class="form-control" name="image" id="field_image"
	                    ng-model="adoption.image"
	                    required>

	            <div ng-show="editForm.image.$invalid">
	                <p class="help-block"
	                    ng-show="editForm.image.$error.required">
	                    Requisito obligatorio
	                </p>
	            </div>
	        </div>

          </form>
            <button class="btn-img btn-primary btn-md" style="margin-left:1em; margin-top:1em;" ng-click="clear()"> Cancelar </button>

            <button class="btn-img btn-primary btn-md" style="margin-left:1em; margin-top:1em;" ng-click="save()"> Finalizar </button>
             <p id="demo"> </p>
       </div>
    </div>
  </div>

  <!-- Bad practice this have to be change, once db be ready -->
  <div class="center-div" ng-repeat="pet in adoptions track by $index" id="post">
      <div class="alert" role="alert">
          <div class="media">
            <div class="media-left media-middle">
              <a class="icon-adoption" href="#">
                <img data-ng-src="{{'data:image/*;base64,' + pet.image}}" style="max-height: 100px;" ng-if="pet.image"/>
              </a>
            </div>
            <div class="media-body">
	        	<button type="button" class="btn btn-alert"  style="float:right" ui-sref="adoption.edit({id:pet.id})">
	  				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-alert"  style="float:right; margin-right:0.2em" ng-click="remove(pet.id)">
	  				<span class="glyphicon glyphicon-trash" ng-click="remove(pet.id)" aria-hidden="true"></span>
				</button>
	            <h2 class="media-heading">{{pet.name}}</h2>
	            <h4> Edad: <small> {{pet.age}}</small> </h4>
	            <h4> Genero: <small> {{pet.gender}} </small> </h4>
	            <h4> Tamaño: <small> {{pet.size}} </small> </h4>
	            <p style="color:black">{{pet.description}} </p>
            </div>
          </div>
      </div>
  </div>

</article>

