
<form class="editForm" name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAdoptionLabel">Editar una adopción</h4>
    </div>
    <div class="modal-body">
        <!--<jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="adoption.id" readonly>
        </div> -->

        <div class="form-group">
            <label for="field_name">Nombre</label>
            <input type="text" class="form-control" name="name" id="field_name" style="width:300px"
                    ng-model="adoption.name" required
                    >

        </div>
        <div class="form-group">
            <label for="field_species">Especie</label>
            <div>
	            <input id="dog" type="radio" ng-model="adoption.species" name="species" value="dog"  checked required> Perro
	            <input id="cat" type="radio" ng-model="adoption.species" name="species" value="cat" style="margin-left:2.64em"> Gato
			</div>

        </div>
        <div class="form-group">
            <label for="field_age">Edad</label>
            <input type="number" class="form-control" name="age" id="field_age" style="width:300px"
                    ng-model="adoption.age" required
                    min="0" max="50">

            <div ng-show="editForm.age.$invalid">
                <p class="help-block"
                    ng-show="editForm.age.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.age.$error.max" translate-value-max="50">
                    This field cannot be more than 50.
                </p>
                <p class="help-block"
                    ng-show="editForm.age.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_gender">Genero</label>
            <div>
             <input id="male" type="radio" ng-model="adoption.gender" name="sex" value="m"  checked required> Macho
			 <input id="female" type="radio" ng-model="adoption.gender" name="sex" value="f" style="margin-left:1.93em" > Hembra
            <!--<input type="text" class="form-control" name="gender" id="field_gender"
                    ng-model="adoption.gender"
                    ng-pattern="/(^[m|f]$)/">-->
			</div>
            <div ng-show="editForm.gender.$invalid">
                <p class="help-block"
                    ng-show="editForm.gender.$error.pattern" translate-value-pattern="(^[m|f]$)">
                    This field should follow pattern "(^[m|f]$)".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_size">Tamaño</label>
           <!-- <input type="text" class="form-control" name="size" id="field_size"
                    ng-model="adoption.size"
                    required>-->
            <div>
				<input id="small" type="radio" ng-model="adoption.size" name="size" value="small" checked required> Pequeño
	            <input id="medium" type="radio" ng-model="adoption.size" name="size" value="medium" style="margin-left:1em"> Mediano
	            <input id="large" type="radio" ng-model="adoption.size" name="size" value="large" style="margin-left:1em"> Grande
		    </div>
			
            <div ng-show="editForm.size.$invalid">
                <p class="help-block"
                    ng-show="editForm.size.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_description">Descripción</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="adoption.description"
                    >

        </div>
       <!--   <div class="form-group">
            <label for="field_have">have</label>
            
            <select class="form-control" id="field_have" name="have" ng-model="adoption.have" ng-options="user as user.id for user in users track by user.id">
                <option value=""></option>
            </select>
            
        </div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Guardar</span>
        </button>
    </div>
</form>
