<!-- <div>

    <h2>Losts</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="lost.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Lost</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteLostConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(lost.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this Lost?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->
    
     <div class="modal fade" id="deleteLostConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(lost.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Esta seguro que desea eliminar esta mascota extraviada?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
    

<!--   <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Species</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Size</th>
                    <th>Description</th>
                    <th>Phone</th>
                    <th>LostDate</th>
                    <th>Image</th>
                    <th>have</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lost in losts">
                    <td><a ui-sref="lost.detail({id:lost.id})">{{lost.id}}</a></td>
                    <td>{{lost.name}}</td>
                    <td>{{lost.species}}</td>
                    <td>{{lost.age}}</td>
                    <td>{{lost.gender}}</td>
                    <td>{{lost.size}}</td>
                    <td>{{lost.description}}</td>
                    <td>{{lost.phone}}</td>
                    <td>{{lost.lostDate}}</td>
                    <td>
                        <img data-ng-src="{{'data:image/*;base64,' + lost.image}}" style="max-height: 30px;" ng-if="lost.image"/>
                        {{byteSize(lost.image)}}
                    </td>
                    <td>
                        {{lost.have.id}}
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="lost.detail({id:lost.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="lost.edit({id:lost.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(lost.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>  -->



<article>
  <!-- second nav bar with pag's choice -->
  <nav class="navbar2 navbar-default" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           
        </div>
    
    <div class="collapse navbar-collapse" id="navbar-collapse2" >
        <ul class="nav nav-pills">
          <li role="presentation" ><a ui-sref="adoption">Adopción</a></li>
          <li role="presentation" ><a ui-sref="sponsor">Apadrinamiento</a></li> 
          <li role="presentation" class="active"><a ui-sref="#">Extraviados</a></li> 
        </ul>
    </div>
   
  </nav>
  
  <!-- panel with the form -->
  <div class="panel panel-primary" id="panel">
    <div class="panel-heading">Agrega una nueva mascota</div>
    <div class="panel-body" style=" padding-top:0.34em">
        <div class="media-left media-middle" >
          <a href="#">
            
            <img data-ng-src="{{'data:image/*;base64,' + lost.image}}" class="thePhoto" ng-if="lost.image"/>
                        
          </a>
          
        </div>
        <div class="media-body" style=" padding-top:1.67em">
          <form name="myForm" class="format" id="pet-form">
           	<input type="text" class="form-control" id="id" name="id" ng-model="lost.id" readonly ng-show="false">
           	<div class="divSets">
	            <span style="font-weight: bold;">Nombre:</span>
	            <input id="theName" ng-model="lost.name" type="text" class="text-box" name="firstname" required>
	            <input id="male" type="radio" ng-model="lost.species" name="species" value="dog" checked> Perro
	            <input id="female" type="radio" ng-model="lost.species" name="species" value="cat" style="margin-left:2.64em"> Gato
			</div>
			
			<div class="divSets">
	             <span style="font-weight: bold;">Edad:</span>
	             <input id="theAge" type="number" ng-model="lost.age" min="1" max="250" class="text-box" name="age" placeholder="Meses" required >
            </div>
            
            <div class="divSets">
	             <span style="font-weight: bold;">Genero:</span>
	             <div>
			         <input id="male" type="radio" ng-model="lost.gender" name="sex" value="m"  checked> Macho
			         <input id="female" type="radio" ng-model="lost.gender" name="sex" value="f"  style="margin-left:1.93em"> Hembra
           		</div>
            </div>
            
            <div class="divSets">
	            <span style="font-weight: bold;">Tamaño:</span>
	            <div>
		            <input id="small" type="radio" ng-model="lost.size" name="size" value="small" checked> Pequeño
		            <input id="medium" type="radio" ng-model="lost.size" name="size" value="medium"  style="margin-left:1em"> Mediano
		            <input id="large" type="radio" ng-model="lost.size" name="size" value="large"  style="margin-left:1em"> Grande
           		</div>
            </div>

            <div class="divSets">
	            	<span style="font-weight: bold;">Descripción:</span>	            	
	            	<textarea class="description"  rows="3" cols="50" ng-model="lost.description" TextMode="MultiLine" required></textarea>

            </div>
            
             <!--<div class="divSets">
	             <span style="font-weight: bold;">Telefono de Contacto:</span>
	             <input id="thePhone" type="number" ng-model="lost.phone" min="1" max="250" class="text-box" name="phone" placeholder="Telefono de Contacto" required >
            </div>-->
            
            <div class="divSets">
	            <label for="field_phone">Telefono de contacto</label>
	            <input type="number" class="form-control" name="phone" id="field_phone"
	                    ng-model="lost.phone"
	                    required>
	
	            <div ng-show="editForm.phone.$invalid">
	                <p class="help-block"
	                    ng-show="editForm.phone.$error.required">
	                    Requisito obligatorio
	                </p>
	                <p class="help-block"
	                    ng-show="editForm.phone.$error.number">
	                    Este campo debe ser un número
	                </p>
	            </div>
	        </div>
            
            <!--<div class="divSets">
	             <span style="font-weight: bold;">Fecha Desaparición:</span>
	            <div>
	             	<input id="theLostDate" type="date" ng-model="lost.lostDate" min="1" max="50" class="text-box" name="lostDate" placeholder="Fecha desaparición" required >
            	</div>
            </div>-->
            
            <div class="divSets">
	            <label for="field_lostDate">Fecha desaparición</label>
	            <input type="date" class="form-control" name="lostDate" id="field_lostDate"
	                    ng-model="lost.lostDate"
	                    required>
	
	            <div ng-show="editForm.lostDate.$invalid">
	                <p class="help-block"
	                    ng-show="editForm.lostDate.$error.required">
	                    Requisito obligatorio
	                </p>
	            </div>
	        </div>
            
            <!--<div class="divSets">
            	<span style="font-weight: bold;">Foto:</span>
            	<div>
            		<input type="file" name="picField" id="picField" size="24" onchange="preview_2(this);" alt="" ng-model="lost.image" ng-click="setImage()"/>  
            		<img data-ng-src="{{'data:image/*;base64,' + lost.image}}" style="max-height: 30px;" ng-if="lost.image"/>
                        {{byteSize(lost.image)}}
            	</div>
            	
            </div>-->
            
            <div class="divSets" ngf-drop ngf-change="setImage($files, lost)" ngf-accept="'image/*'">
	            <label for="field_image" style="font-weight: bold;">Foto</label>
	            <div>
	                
	                <div class="help-block clearfix">
	                    <span class="pull-left">{{byteSize(lost.image)}}</span>
	                    <button ng-click="lost.image=null"
	                            ng-if="lost.image"
	                            class="btn btn-default btn-xs pull-right">
	                        <span class="glyphicon glyphicon-remove"></span>
	                    </button>
	                </div>
	                <button type="file" ngf-select class="btn btn-default btn-block text-box" style="width:30%;"
	                        ngf-change="setImage($files, lost)" accept="image/*">
	                    Subir imagen
	                </button>
	            </div>
	            <input type="hidden" class="form-control" name="image" id="field_image"
	                    ng-model="lost.image"
	                    required>
	
	            <div ng-show="editForm.image.$invalid">
	                <p class="help-block"
	                    ng-show="editForm.image.$error.required">
	                    Requisito obligatorio
	                </p>
	            </div>
	        </div>
            
          </form>
            <button class="btn-img btn-primary btn-md" style="margin-left:1em; margin-top:1em;" ng-click="clean()"> Cancelar </button>
            
            <button class="btn-img btn-primary btn-md" style="margin-left:1em; margin-top:1em;" ng-click="save()"> Finalizar </button>
             <p id="demo"> </p>
       </div>
    </div>
  </div>
  
  <!-- Bad practice this have to be change, once db be ready -->
  <div class="center-div" ng-repeat="pet in losts track by $index" id="post">
      <div class="alert" role="alert">
          <div class="media">
            <div class="media-left media-middle">
              <a class="icon-adoption" href="#"> 
                 <img data-ng-src="{{'data:image/*;base64,' + pet.image}}" style="max-height: 100px;" ng-if="pet.image"/>
              </a>
            </div>
            <div class="media-body">
	        	<button class="btn btn-alert" aria-label="Edit Pencil" style="float:right" type="submit"
                                ui-sref="lost.edit({id:pet.id})">
	  				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-alert" aria-label="Edit Pencil" style="float:right; margin-right:0.2em" >
	  				<span class="glyphicon glyphicon-trash" ng-click="remove(pet.id)" aria-hidden="true"></span>
				</button>
	            <h2 class="media-heading">{{pet.name}}</h2>
	            <h4> Edad: <small> {{pet.age}}</small> </h4>
	            <h4> Genero: <small> {{pet.gender}} </small> </h4>
	            <h4> Tamaño: <small> {{pet.size}} </small> </h4>
	            <h4> Telefono de Contacto: <small> {{pet.phone}} </small> </h4>
	            <h4> Fecha Desaparición: <small> {{pet.lostDate}} </small> </h4>
	            <p style="color:black">{{pet.description}} </p>
            </div>
          </div>
      </div>
  </div>
